{
  "env": {
    "browser": true,
    "jasmine": true
  },
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "import/no-unresolved": "off",
    "no-underscore-dangle": "off",
    "prettier/prettier": "error"
  }
}
