.sabtimer
  max-width: 400px
  h1
    text-align: center

.sabtimer-display
  text-align: center
  font-size: 4rem
  margin-bottom: 1.5rem 

.sabtimer-buttons
  text-align: center
  .button
    font-size: 2rem
    height: 4.5rem

.canon-names
  .column
    display: flex
    align-items: center
    justify-content: center
  input[type="text"]
    margin: 0